

<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">

            <h1 class="title has-text-centered">Password Generator</h1>


            <div>
                <label> Enter length </label>
                <input class="input" (input)="onChangeLength($event.target!)" [value]="passwordLength">
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input (change)="onChangeLetters()" type="checkbox" />
                        Use Letters
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input (change)="onChangeNumbers()" type="checkbox" />
                        Use Numbers
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input (change)="onChangeSymbols()" type="checkbox" />
                        Use Symbols
                    </label>
                </div>
            </div>


            <button [disabled]="!(passwordLength && this.includeLetters || this.includeNumbers || this.includeSymbols)"
                (click)="onButtonClick()" class="button is-link is-light">Generate!</button>

            <!-- property binding with structural directive -->
            <div class="box" >
                <label>Your Password</label>
                <input class="input" [value]="password" />
            </div>

        </div>
    </div>
</div>